---
export const prerender = false;
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import ImageLoader from "../../components/global/ImageLoader.astro";
import LayoutContainer from "../../components/global/LayoutContainer.astro";
import TitleComponent from "../../components/global/TitleComponent.astro";
import CanvasCard from "../../components/global/CanvasCard.astro";

const CanvasesGallery = await getCollection("canvases", (canvas) => {
  if (canvas.data.for_sale === false) {
    return canvas;
  }
});
---

<head>
  <meta name="description" content="test" />
  <title>{"Galeria" + " | Alexsandra Beijato"}</title>
</head>

<Layout>
  <LayoutContainer>
    <TitleComponent
      title="Galeria"
      sub="Confira todas as minhas artes já feitas."
    />

    <div
      class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 grid-flow-row gap-5"
    >
      {
        CanvasesGallery.map((item) => {
          if (!item.data.for_sale) {
            return (
              <CanvasCard
                slug={`/galeria/${item.data.slug}`}
                featured_image_url={item.data.featured_image}
                name={item.data.name}
                description={item.data.description}
              />
            );
          }
        })
      }
    </div>
  </LayoutContainer>
</Layout>
