---
import Layout from "../layouts/Layout.astro";
---

<head>
    <meta name="description" content="test" />
    <title>{"404" + " | Alexsandra Beijato"}</title>
</head>

<Layout>
    <div class="w-screen h-screen flex flex-col justify-center items-center">
        <div class="w-full xl:w-screen-content-limit">
            <div
                class="flex flex-col w-full justify-center items-center gap-y-4 mb-20 px-7"
            >
                <h1 class="font-glacial-indifference text-6xl">Error 404!</h1>
                <p class="">A página não foi encontrada.</p>
            </div>
        </div>
    </div>
</Layout>
