---
import LayoutContainer from "../components/global/LayoutContainer.astro";
import Layout from "../layouts/Layout.astro";
---

<head>
    <meta name="description" content="test" />
    <title>{"404" + " | Alexsandra Beijato"}</title>
</head>

<Layout>
    <LayoutContainer>
        <h2>Astro 404</h2>
    </LayoutContainer>
</Layout>
