---
import Layout from "../layouts/Layout.astro";
---

<head>
    <meta name="description" content="test" />
    <title>{"404" + " | Alexsandra Beijato"}</title>
</head>

<Layout>
    <h2>Astro 404<h2>
</Layout>
