---
import Layout from "../layouts/Layout.astro";
---

<head>
    <meta name="description" content="test" />
    <title>{"Contato" + " | Alexsandra Beijato"}</title>
</head>

<Layout>
  <p>Contact page</p>
<p>test</p>
</Layout>
