---
import Layout from "../layouts/Layout.astro";
import SectionFeatured from "../components/home/Section_featured.astro";
import ImageLoader from "../components/global/ImageLoader.astro";
import LayoutContainer from "../components/global/LayoutContainer.astro";
import SectionFeaturedForSale from "../components/home/Section_featured_for_sale.astro";
---

<head>
	<meta name="description" content="test" />
	<title>{"Home" + " | Alexsandra Beijato"}</title>
</head>

<Layout>
	<div
		class="w-full h-[400px] xl:h-[600px] bg-gray-500 flex flex-row justify-center items-center"
	>
		<h1 class="text-center text-5xl font-halimum leading-[70px] text-white">
			Seja Bem-Vindo!
		</h1>
	</div>

	<LayoutContainer>
		<div class="flex flex-col gap-y-5 xl:flex-row w-full px-5 my-10">
			<div
				class="w-full xl:w-1/2 flex flex-row justify-center items-center"
			>
				<ImageLoader
					ImageUrl="/pictures/base/foto_Alexsandra"
					w="400"
					h="400"
					altParam="Foto Alexsandra"
				/>
			</div>
			<div class="w-full xl:w-1/2 flex flex-col justify-center">
				<h2 class="text-4xl">Sobre mim:</h2>
				<p>
					{
						"Meu nome é Alexandra Beijato e sou artista plástica desde o ano 2000. Trabalho com a técnica de pintura a óleo, que me permite explorar cores, formas e detalhes para criar obras que capturam momentos, emoções e perspectivas únicas.Sou apaixonada pelo que faço e acredito que a arte é uma forma poderosa de transformar ambientes e inspirar as pessoas. Agradeço a Deus todos os dias por me permitir exercer esse dom e compartilhar meu trabalho com o mundo. Cada peça que produzo é desenvolvida com cuidado, dedicação e atenção aos detalhes, refletindo minha experiência e o amor pelo meu ofício. Seja bem-vindo(a) ao meu espaço criativo!"
					}
				</p>
			</div>
		</div>

		<SectionFeatured />

		<SectionFeaturedForSale />
	</LayoutContainer>

	<div class="w-full flex flex-col justify-center items-center bg-gray-500">
		<div
			class="flex flex-col w-full xl:w-screen-content-limit my-10 py-10 gap-y-4 px-5"
		>
			<p class="text-white text-center xl:text-2xl">
				Acompanhe meu trabalho nas redes sociais e fique por dentro de
				novas criações, novidades e tudo o que acontece no meu universo
				artístico.
			</p>
			<h2 class="text-white text-center text-2xl xl:text-4xl">
				Obrigada pela visita!
			</h2>
		</div>
	</div>
</Layout>
