---
import LayoutContainer from "../components/global/LayoutContainer.astro";
import Layout from "../layouts/Layout.astro";
---

<head>
    <meta name="description" content="test" />
    <title>{"Sobre" + " | Alexsandra Beijato"}</title>
</head>

<Layout>
  <LayoutContainer>
    <p>Only a test</p>
  </LayoutContainer>
</Layout>
