---
import Header from "../components/global/Header.astro";
import Footer from "../components/global/Footer.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body>
		<Header />
		<slot />
		<Footer />
	</body>
</html>

<script>
	function SetContentPaddingForHeader() {
		document.querySelectorAll("header").forEach((item) => {
			if (getComputedStyle(item).display !== "none") {
				document.querySelector("body").style.paddingTop =
					item.getBoundingClientRect().height.toString() + "px";
			}
		});
	}
	SetContentPaddingForHeader();
	window.addEventListener("resize", () => SetContentPaddingForHeader());
</script>
