---

---

<div class="w-full flex flex-row justify-center items-center">
    <div
        class="w-full xl:w-screen-content-limit flex flex-col justify-center items-center py-11 px-5 xl:pt-28 xl:pb-28"
    >
        <slot />
    </div>
</div>
